body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(204, 202, 200);
}

.container{
    text-align: center;
}

h1{
    font-size: 2.5rem;
    text-decoration: underline;
}

.row{
    display: flex;
}

.col{
    height: 65px;
    width: 65px;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 255, 0.596);
}

