*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    height: 350px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 hsla(0, 0%, 0%, 0.705);
    background-color: aquamarine;
    position: relative;
}

h2{
    padding: 8px;
    text-align: center;
    margin: 15px 0px;
}

ul{
    list-style: none;
}

li{
    padding: 10px 25px;
    font-size: 1.4rem;
}
label{
    cursor: pointer;
}

button{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    font-size: 1.2rem;
    color: white;
    border: none;
    background-color: orange;
    border-radius: 3px;
    cursor: pointer;
}