body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: burlywood;
}
.container{
    text-align: center;
}
h2{
    font-size: 4rem;
    font-family: sans-serif;
    text-shadow: 2px 2px rgb(235, 26, 26);
}

.btn{
    padding: 20px 25px;
    margin: 10px;
    min-width: 200px;
    font-size: 2.5rem;
    color: rgba(245, 241, 241, 0.856);
    text-shadow: 1px 1px hsl(0, 7%, 45%);
    cursor: pointer;
    font-family: cursive;
    border-radius: 20px;
    text-transform: capitalize;
    border: none;
    box-shadow: 0 4px rgba(0, 0, 0, 0.3);
    background-image: url(./images/crash.png);
    background-size: cover;
}

.btn:hover{
    color: rgb(209, 176, 182);
}
.btn:active{
    color: rgb(231, 188, 196);
}