*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: burlywood;
}

.container{
    width: 420px;
    border: 2px solid;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    background-color: rgba(179, 172, 172, 0.7);
    box-shadow: 0 0 5px black;
}

img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: -18%;
    border: 1px solid;
    box-shadow: 0 0 5px black;
}

.testimonial{
    margin-top: 20px;
}

.author{
    font-style: italic;
    margin: 25px;
}